<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@recipe.image, size: "200x200", alt: "#{@recipe.title}") %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Cooking time:</strong>
  <%= @recipe.cooking_time %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @recipe.ratings %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @recipe.cuisine.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author.name %>
</p>

<p>
  <ol>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ol>
</p>


<%= link_to 'Back', new_desired_ingredient_path, class: 'button' %>
